<div class="cg-login-form">
    <span class="login-label d-flex flex-row justify-content-center">Login</span>
    <div class="login-form">
        <div class="d-flex flex-row g-3 align-items-center mb-2">
            <div class="d-flex flex-column flex-fill form-label">
            <label for="inputUsername" class="col-form-label">Username</label>
            </div>
            <div class="d-flex flex-column">
            <input type="username" id="inputUsername" class="form-control" aria-describedby="usernameHelpInline">
            </div>
        </div>
        <div class="d-flex flex-row g-3 align-items-center">
            <div class="d-flex flex-column flex-fill form-label">
            <label for="inputPassword" class="col-form-label">Password</label>
            </div>
            <div class="d-flex flex-column">
            <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
</div>